@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Anek Devanagari', sans-serif;
}

body{
  min-height: 200vh;
  background-color: rgb(255, 247, 247);
  position: relative;
  background: #1e6b07;
  background: -webkit-radial-gradient(circle, #2e6418 0%, #edde5d 100%);
  background: radial-gradient(circle, #215006 0%, #3b5500 100%);
}

footer{
  display: flex;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  
  background-color: rgb(24, 24, 24);
}

footer a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
}

h1{
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px ;
  box-sizing: border-box;
  font-size: 70px;
  font-weight: 600;
  padding-top: 100px;
}

.container{
  padding: 100px 150px;
  box-sizing: border-box;
}

h3{
  font-size: 40px;
  font-weight: 300;
  color: white;
}

p{
  background-color: rgba(0, 0, 0, 0.315);
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  font-size: 25px;
  border-radius: 10px;
  font-weight: 200;
  letter-spacing: 2px;
}
